.slide-y-item {
  transform: translateY(0);
  opacity: 1;
  transition: all .4s ease-in-out;
}

.slide-y-enter, .slide-y-leave-to {
  opacity: 0;
  transform: translateY(4rem);
}

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.slide-down-enter-active, .slide-down-leave-active {
  transition: all .3s ease-in-out;
}

.slide-down-enter, .slide-down-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}